{% extends "layout.html" %}
{% block body %}

<div class="block1">
    <h1>Willyfog - Actualizacion de pagadoras</h1>
</div>


<script>
function enviarURL(){
			var grupoPagador = '{{ grupos_pagador}}';
			var pais = document.getElementById("parametroPais").value
			
			var url = '/Willyfog/step13?parametroGrupoPagador='+grupoPagador+'&parametroPais='+pais;
			window.location.href=url;
	}	

</script>

Seleccione el pais:
<br>
<form id="formularioPais" name="formularioPais"
      action="/Localizador/formulario.jsp" method="GET">

    <select name="listaPaises" id="parametroPais">
    </select>
</form>
<button onclick="enviarURL();">Envia datos país</button>

<!-- Script para rellenar el formulario con los paises -->
<script>
	var i;
	var array = {{ paises|tojson }};
	for (i = 0; i < array.length; i++) {
	    	var x = document.getElementById("parametroPais");
    		var option = document.createElement("option");
    		option.text = array[i];
    		x.add(option);
   	}
</script>


{% endblock %}