{% extends "layout.html" %}
{% block body %}

<div class="block1">
    <h1>Willyfog - Actualizacion de pagadoras</h1>
</div>

<script>


function sendNoPagadoraURL(){
			var grupoPagador = document.getElementById("parametroGruposPagador").value;
			var fichero = document.getElementById('myFile').value;
            var modo = document.querySelector('input[name="change"]:checked').value;

			var url = '/Willyfog/step2new?parametroFichero='+fichero+'&parametroModo='+modo+'&parametroGrupoPagador='+grupoPagador;
			window.location.href=url;
}

function sendYesFilterURL(){
			var grupoPagador = document.getElementById("parametroGruposPagador").value;
			var fichero = document.getElementById('myFile').value;
            var modo = document.querySelector('input[name="change"]:checked').value;

			var url = '/Willyfog/step2?parametroFichero='+fichero+'&parametroModo='+modo+'&parametroGrupoPagador='+grupoPagador;
			window.location.href=url;
}

function sendNoFilterURL(){
			var grupoPagador = document.getElementById("parametroGruposPagador").value;
			var fichero = document.getElementById('myFile').value;
            var modo = document.querySelector('input[name="change"]:checked').value;

			var url = '/Willyfog/step4?parametroFichero='+fichero+'&parametroModo='+modo+'&parametroGrupoPagador='+grupoPagador;
			window.location.href=url;
}
</script>


Seleccione el grupo pagador:
<br>
<form id="formularioFormaPago" name="formularioFormaPago"
      action="/Localizador/formulario.jsp" method="GET">

    <input type="text" onKeyUp="sel(this.value)"><br> <select
        name="listaGruposPagador" id="parametroGruposPagador" size="5">
</select>


</form>

<!-- Script para rellenar el formulario con los grupos pagadores -->
<script>
	var i;
	var array = {{ grupos_pagador|tojson }};
	for (i = 0; i < array.length; i++) {
	    	var x = document.getElementById("parametroGruposPagador");
    		var option = document.createElement("option");
    		option.text = array[i];
    		x.add(option);
   	}

</script>

<script>
	function sel(c){
		c = c.toUpperCase();
		formu=document.forms['formularioFormaPago'];
		caracteres=c.length;
		if(caracteres!=0){
		for (x=0;x<formu['listaGruposPagador'].options.length;x++){
			if(formu['listaGruposPagador'].options[x].value.slice(0,caracteres)==c){
				formu['listaGruposPagador'].selectedIndex=x;
				formu['listaGruposPagador'].style.visibility="visible";
				break;
			}else{
				formu['listaGruposPagador'].style.visibility="hidden";
			}
		}
		}else{
			formu['lista'].style.visibility="hidden";
		}
	}

</script>

<br>
<input type="file" id="myFile">
<br>

<br>
Tipo de actualizacion:
<br>
<div id="radios" name="radios">
    <input type="radio" name="change" value="0">New <input type="radio" name="change" value="1">Update
    <input type="radio" name="change" value="2">Delete
</div>
<br>

¿Quiere introducir las pagadoras?
<br>

<input type="button" value="Sí" onclick="toggle();"></button> <button onclick="sendNoPagadoraURL();">No</button>

<br>

<div id="help_filter_div" style="display:none">
    ¿Quiere usar los filtros de ayuda para buscar las pagadoras?
    <br>
    <button onclick="sendYesFilterURL();">Sí</button> <button onclick="sendNoFilterURL();">No</button>
</div>

<script>
  var toggle = function() {
  var mydiv = document.getElementById('help_filter_div');
  if (mydiv.style.display === 'block' || mydiv.style.display === '')
    mydiv.style.display = 'none';
  else
    mydiv.style.display = 'block'
  }
</script>
{% endblock %}