{% extends "layout.html" %}
{% block body %}

<div class="block1">
    <h1>Willyfog - Actualizacion de pagadoras</h1>
</div>

<script>
function sendYesURL(){
			var grupoPagador = document.getElementById("parametroGruposPagador").value;
			var url = '/Willyfog/step2?parametroGrupoPagador='+grupoPagador;
			window.location.href=url;
}

function sendNoURL(){
			var grupoPagador = document.getElementById("parametroGruposPagador").value;
			var url = '/Willyfog/step2?parametroGrupoPagador='+grupoPagador;
			window.location.href=url;
}
</script>


Seleccione el grupo pagador:
<br>
<form id="formularioFormaPago" name="formularioFormaPago"
      action="/Localizador/formulario.jsp" method="GET">

    <input type="text" onKeyUp="sel(this.value)"><br> <select
        name="listaGruposPagador" id="parametroGruposPagador" size="5">
</select>


</form>

<!-- Script para rellenar el formulario con los grupos pagadores -->
<script>
	var i;
	var array = {{ grupos_pagador|tojson }};
	for (i = 0; i < array.length; i++) {
	    	var x = document.getElementById("parametroGruposPagador");
    		var option = document.createElement("option");
    		option.text = array[i];
    		x.add(option);
   	}

</script>

<script>
	function sel(c){
		c = c.toUpperCase();
		formu=document.forms['formularioFormaPago'];
		caracteres=c.length;
		if(caracteres!=0){
		for (x=0;x<formu['listaGruposPagador'].options.length;x++){
			if(formu['listaGruposPagador'].options[x].value.slice(0,caracteres)==c){
				formu['listaGruposPagador'].selectedIndex=x;
				formu['listaGruposPagador'].style.visibility="visible";
				break;
			}else{
				formu['listaGruposPagador'].style.visibility="hidden";
			}
		}
		}else{
			formu['lista'].style.visibility="hidden";
		}
	}

</script>


¿Quiere introducir las pagadoras?
<br>

<button onclick="sendYesURL();">Sí</button> <button onclick="sendNoURL();">No</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
jQuery(document).ready(function(){
        jQuery('#hideshow').on('click', function(event) {
             jQuery('#content').toggle('show');
        });
    });
</script>

<div id='content'>Hello World</div>
<input type='button' id='hideshow' value='hide/show'>


{% endblock %}