{% extends "layout.html" %}
{% block body %}

input { display: inline; }

<div class="block1">
    <h1>Willyfog - Actualizacion de pagadoras</h1>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


<script>
function enviarURL(){


	}	

</script>


Seleccione la pagadora (selecciona multiples pagadoras con CTRL + click):
<br>
<form id="formularioPaises" name="formularioPaises">

    <select name="listaPaises" id="parametroPaises" multiple>
    </select>
</form>

<form id="formularioFormaPago" name="formularioFormaPago">

    <select name="listaFormaPago" id="parametroFormaPago" multiple>
    </select>
</form>

<form id="formularioMonedas" name="formularioMonedas">

    <select name="listaMonedas" id="parametroMonedas" multiple>
    </select>
</form>

<br>
<button onclick="enviarURL();">Envia datos pagadoras</button>


<!-- Script para rellenar el formulario con los grupos pagadores -->
<script>
	var i;
	var array = {{ paises|tojson }};
	for (i = 0; i < array.length; i++) {
	    	var x = document.getElementById("parametroPaises");
    		var option = document.createElement("option");
    		option.text = array[i];
    		x.add(option);
   	}

   	var array = {{ formas_pago|tojson }};
	for (i = 0; i < array.length; i++) {
	    	var x = document.getElementById("parametroFormaPago");
    		var option = document.createElement("option");
    		option.text = array[i];
    		x.add(option);
   	}

	var array = {{ monedas|tojson }};
	for (i = 0; i < array.length; i++) {
	    	var x = document.getElementById("parametroMonedas");
    		var option = document.createElement("option");
    		option.text = array[i];
    		x.add(option);
   	}

</script>


{% endblock %}
