{% extends "layout.html" %}
{% block body %}

<style>
form { display: inline; }
</style>

<div class="block1">
    <h1>Willyfog - Actualizacion de pagadoras</h1>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


<script>
function enviarURL(){

        var fichero = '{{ new_file }}';
        var modo = '{{ mode }}';
        var grupoPagador = '{{ id_grupos_pagador}}';

        var selectedPaises = $('#parametroPaises').val();
        var selectedFormaPago = $('#parametroFormaPago').val();
        var selectedMonedas = $('#parametroMonedas').val();

        var url = '/Willyfog/step62?parametroFichero='+fichero+'&parametroModo='+modo+'&parametroGrupoPagador='+grupoPagador
        +'&parametroPaises='+selectedPaises+'&parametroFormaPago='+selectedFormaPago+'&parametroMonedas='+selectedMonedas;
        window.location.href=url;

	}	

</script>


Filtro de búsqueda
<br>
<br>

País destino: &nbsp; Forma pago:  &nbsp;  Moneda destino:
<br>

<form id="formularioPaises" name="formularioPaises">

    <input type="text" onKeyUp="sel(this.value)" align="left">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <br>
    <select name="listaPaises" id="parametroPaises" multiple>
    </select>
</form>



<form id="formularioFormaPago" name="formularioFormaPago">

    <select name="listaFormaPago" id="parametroFormaPago" multiple>
    </select>
</form>



<form id="formularioMonedas" name="formularioMonedas">

    <select name="listaMonedas" id="parametroMonedas" multiple>
    </select>
</form>

<br>
<button onclick="enviarURL();">Envia filtro de búsqueda</button>


<!-- Script para rellenar el formulario con los grupos pagadores -->
<script>
	var i;
	var array = {{ paises|tojson }};
	for (i = 0; i < array.length; i++) {
	    	var x = document.getElementById("parametroPaises");
    		var option = document.createElement("option");
    		option.text = array[i];
    		x.add(option);
   	}

   	var array = {{ formas_pago|tojson }};
	for (i = 0; i < array.length; i++) {
	    	var x = document.getElementById("parametroFormaPago");
    		var option = document.createElement("option");
    		option.text = array[i];
    		x.add(option);
   	}

	var array = {{ monedas|tojson }};
	for (i = 0; i < array.length; i++) {
	    	var x = document.getElementById("parametroMonedas");
    		var option = document.createElement("option");
    		option.text = array[i];
    		x.add(option);
   	}

</script>

<script>
	function sel(c){
		c = c.toUpperCase();
		formu=document.forms['formularioPaises'];
		caracteres=c.length;
		if(caracteres!=0){
		for (x=0;x<formu['listaPaises'].options.length;x++){
			if(formu['listaPaises'].options[x].value.slice(0,caracteres)==c){
				formu['listaPaises'].selectedIndex=x;
				formu['listaPaises'].style.visibility="visible";
				break;
			}else{
				formu['listaPaises'].style.visibility="hidden";
			}
		}
		}else{
			formu['lista'].style.visibility="hidden";
		}
	}

</script>

<br>
<br>
TODO: por agrupaciones

{% endblock %}
