{% extends "layout.html" %}
{% block body %}


<div class="block1">
    <h1>Willyfog - Actualizacion de pagadoras</h1>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
function enviarURL(){

        var selectedPagadoras = $('#parametroPagadoras').val();

        var url = '/Willyfog/step7?parametroPagadoras='+selectedPagadoras;
        window.location.href=url;

	}
</script>

Las pagadoras que cumplen los filtros son las siguiente, ¿quiere descartar alguna?
<br>
<form id="formularioPagadoras" name="formularioPagadoras">

    <select name="listaPagadoras" id="parametroPagadoras" multiple>
    </select>
</form>

<button onclick="enviarURL();">Envia filtro de pagadoras</button>


<script>
	var i;
	var array = {{ to_return|tojson }};
	var array2 = {{ to_values|tojson }};
	for (i = 0; i < array.length; i++) {
	    	var x = document.getElementById("parametroPagadoras");
    		var option = document.createElement("option");
    		option.text = array[i];
    		option.value = array2[i];
    		x.add(option);
   	}
</script>

{% endblock %}