{% extends "layout.html" %}
{% block body %}


<div class="block1">
    <h1>Willyfog - Actualizacion de pagadoras</h1>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
function enviarURL(){

        var selectedPagadoras = $('#parametroPagadoras').val();
        var fichero = '{{ new_file }}';
        var modo = '{{ mode }}';
        var grupoPagador = '{{ id_grupos_pagador}}';
        var paises = '{{ paises }}';

        var url = '/Willyfog/step7b?parametroFichero='+fichero+'&parametroModo='+modo+'&parametroGrupoPagador='+grupoPagador+'&parametroPaises='+paises
        +'&parametroPagadoras='+selectedPagadoras;
        window.location.href=url;

	}
</script>

Las pagadoras que cumplen los filtros son las siguiente, ¿quiere descartar alguna?
<br>
<form id="formularioPagadoras" name="formularioPagadoras">

    <select name="listaPagadoras" id="parametroPagadoras" multiple>
    </select>
</form>

<button onclick="enviarURL();">Envia filtro de pagadoras</button>


<script>
	var i;
	var array = {{ pagadoras_filter_names|tojson }};
	var array2 = {{ pagadoras_filter_values|tojson }};
	for (i = 0; i < array.length; i++) {
	    	var x = document.getElementById("parametroPagadoras");
    		var option = document.createElement("option");
    		option.text = array[i];
    		option.value = array2[i];
    		x.add(option);
   	}
</script>

{% endblock %}